 .inputText {  
            border: 1px solid #ccc;  
            border-radius: 10px;  
            background-color: #0ff;  
            box-shadow: 1px 1px 1px 1px #ccc;  
            width: 230px;  
            height: 30px;  
        }  
  
        ul {  
            list-style: none;  
            padding: 10px;  
            background-color: #CAEAF5;  
            border-radius: 10px;  
            border: 1px solid #ccc;  
            width: 210px;  
        }  
  
        li {  
            border: 1px solid #ccc;  
            border-right: none;  
            border-left: none;  
            padding: 2px;  
            text-align: center;  
        }         