
 <a href="" id="upLink" ng-click="moveDown()">Go to down</a>
  <div style="height:1000px">
    <p style="font-family:Arial;color:yellow;background:steelblue;padding:3px;width:350px;">Down Link</p> 
  </div>
    <form name="forms" class="form" >
    <label>Name</label> 
        <input type="text" name="name" ng-model="newcontact.name"/><br>
    <label>Email</label> 
        <input type="text" name="email" ng-model="newcontact.email"/><br>
    <label>Phone</label> 
        <input type="text" name="phone" ng-model="newcontact.phone"/>
        <br/>
        <input type="hidden" ng-model="newcontact.id" /><br>
     <input type="button" value="Save" ng-click="saveContact()" />
    </form> 
    <span search-tab  ></span> 
    <a id="user"  search-popover  data-placement="right" title="title" >Click here</a>
<table class="table">
<thead> 
<tr>
    <th>Sl-No</th>
    <a  ng-click="sortType = 'name'">
    <th>Name</th>
    </a>
    <a  ng-click="sortType = 'email'">
    <th>Email</th>
    </a>
    <a  ng-click="sortType = 'phone'">
    <th>Phone</th>
    </a>
    <th>Action</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="contact in contacts | orderBy:'shortType' ">
    <td>{{$index+1}}</td>
    <td>{{ contact.name }}</td>
    <td>{{ contact.email }}</td>
    <td>{{ contact.phone }}</td>
    <td>
        <button  ng-click="edit(contact.id)">edit</button> | 
        <button  ng-click="delete(contact.id)">delete</button>
    </td>
 </tr>
</tbody>
</table>    
 
   <a href="" id="downLink" ng-click="moveTop()">Go up</a>
    <p style="font-family:Arial;color:yellow;background:steelblue;padding:3px;width:350px;">Up Link</p>