<!--<div class="navbar navbar-default">
        <div class="container">
            <ul class="nav navbar-nav">
                <li ng-class="{active:isActive('/')}"><a
                href="#/">Home</a></li>
                <li ng-class="{active:isActive('#/about')}"><a
                href="#/about">About</a></li>
                <li ng-class="{active:isActive('#/news')}"><a
                href="#/news">News</a></li>
                <li ng-class="{active:isActive('#/company')}"><a
                href="#/company">Company</a>
                 </li>
                    <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </li>
            </ul>
        </div>
    </div>-->
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" class="active" href="">Angular</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="#/">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" >Page <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#/todolist">todoList</a></li>
          <li><a href="#/friend">Add Friends</a></li>
          <li><a href="https://stackoverflow.com/documentation/java/topics" target="_top">Java</a></li>
       
        </ul>
      </li>
      <li><a href="#/page1">Page 1</a></li>
     
    </ul>
  </div>
</nav>
  
